{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017
},
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "browser": true,
    "node": true,
    "mocha": true,
    "expect": true,
    "placeholders": true,
    "environment": true
  },
  "rules": {
    "no-debugger": "error",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "camelcase": [
      "error"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "no-multi-str": "error",
    "no-use-before-define": "error",
    "no-empty-function": "error",
    "eqeqeq": "error",
    "default-case": "error",
    "no-var": "error",
    "max-params": [
      "error",
      4
    ],
    "max-len": [
      "error",
      140,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": false,
        "ignoreComments": false
      }
    ],
    "no-console":"off",
    "prefer-const": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}